@model List<NewsPost>

<div class="container">
    <table class="table table-striped">
        <h3>Manage all Posts from here | <a class="btn btn-success" asp-action="Create">Create</a></h3>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Image</th>
                <th>Topic</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>

        @* <img src="~/assets/img/gallery/gallery-1.jpg" /> *@

        <tbody>
            @foreach (var post in Model)
            {
                <tr >
                    <td>@post.Title</td>
                    <td>@post.Date</td>
                    <td><img style="max-width: 250px;" src="~/assets/img/gallery/@post.Image" /> </td>
                    <td>@post.Topic</td>
                    <td>@post.Category.Name</td>
                    <td>
                        <a asp-route-id="@post.Id" asp-action="Edit" class="btn btn-secondary">Edit</a>
                    </td>

                </tr>
            }

    </table>




</div>