@using NewsWebsite.Core.Models
@model List<NewsPost>

@{
    ViewData["Title"] = "NewsPost";
}




<section id="about" class="about section container">

    <!-- Section Title -->
    <div class=" section-title aos-init aos-animate" data-aos="fade-up">
        <h2>@ViewBag.Category News <br></h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->


    <div class="row gy-4 justify-content-between">
        @foreach (var item in Model)
        {

            <div class="col-md-6 col-lg-4">
                <div class=" position-relative align-self-start aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <img src="~/assets/img/gallery/@item.Image" class="img-fluid" alt="" />
                    <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                </div>
                <div class="content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <h3>@item.Title</h3>
                    <span>@item.Date</span>

                    <p class="fst-italic">
                        @item.CategoryId
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
                    </ul>
                    <p>
                        @item.Topic
                    </p>





                    @* <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Delete</a> *@

                </div>
            </div>
        }

    </div>



</section>